<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="node_modules/elaz-ui-kit/src/styles/reset.css" />
    <link rel="stylesheet" href="node_modules/elaz-ui-kit/src/styles/base.css" />
    <h1>CLI BP TEMPLATE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, repellendus ipsam! Dolor facilis expedita amet sunt ducimus officiis nesciunt rem dicta. Voluptas ex, aliquam soluta sapiente porro hic nemo facere.</p>
  </head>
  <body></body>
</html>
